// Simple Contact Form
#oc-simplecontactform {
  #comment {
    min-height: 163px;
  }
}

// custom google maps module
.gmaps {
  line-height: 0;
}

// roksprokect
.sprocket-mosaic {
  h2.sprocket-mosaic-title {
    line-height: 2rem;
    font-size: 1.5rem;
  }
}