.animated-branding {
  height: 100%;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  position: relative;

  .filter {

    height: 100%;

    &.enabled {
      background-color: transparentize($accent-color-1, 0.7);
    }

    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    position: relative;

    .g-grid {
      height: 100%;

      .g-content {

        div.inner {
          top: 45%;
          height: 100%;
          max-width: 50%;
          display: block;
          position: relative;
          margin: -120px auto 0 auto;
          @media all and (max-width: $breakpoints-large-mobile-container) {
            max-width: 75%;
            margin: -80px auto 0 auto;
          }

          img {
            margin-bottom: 35px;
          }

          .main-bottom-arrow {
            cursor: pointer;
            width: 32px;
            height: 18px;
            bottom: 40%;
            right: 50%;
            position: absolute;
            margin-right: -16px;
            @media all and (max-width: $breakpoints-large-mobile-container) {
              bottom: 50%;
            }
          }
        }

        h1 {
          font-size: 8em;
          text-transform: uppercase;
          margin-top: 60%;
        }
        &.afloat-left {
          left: 30% !important;
        }
        &.afloat-right {
          left: 80% !important;
        }
        &.afloat-center {
          left: 50% !important;
        }

        &.nospace {
          h1 {
            margin-bottom: -30px;
          }
        }
      }
    }
  }

}
