@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

.terminal {
  font: 1em 'Inconsolata', monospace;
  font-weight: 400;
  height: 350px;
  padding: 1em;

  ::selection {
    background: #eee
  }

  ::-webkit-selection {
    background: #eee
  }

  ::-moz-selection {
    background: #eee
  }

  .term-section {
    display: none;
  }

  .open {
    display: block;
  }

  .command {
    display: block;
    color: $white;
    font-weight: 700;

    .hostname {
      color: $accent-color-1;
    }

    .pwd {
      color: $success-color;
    }
  }

  a {
    color: #181818;

    &:hover,
    &:focus {
      background: #181818;
      color: #fff;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 400;
  }

  p {
    margin-bottom: 2em;
  }

  abbr {
    cursor: help;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 1em 0 0;
  }

  span {
    color: #999;
    line-height: 1;
  }

  kbd {
    font-family: 'Inconsolata', monospace;
    border: 1px solid #999;
    text-transform: uppercase;
    padding: 0 .2em;
  }

  input[type="text"] {
    max-width: 10em;
    border: none;
    font-family: inherit;
    padding: 0 .5em;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      outline: none;
      box-shadow: none;
    }
  }

}


