// Module Styling
.moduletable {
  // Menu, Most Read, Latest News, Archive Module, Related Items, Categories Module, Category Module, Latest Users, Unstyled
  .nav.menu,
  .mostread,
  .latestnews,
  .archive-module,
  .relateditems,
  .categories-module,
  .category-module,
  .latestusers,
  .unstyled {
    margin: 0;
    display: inline-block;
    border: 1px solid $base-border-color;
    padding: $content-padding ($content-padding * 2);

    li {
      list-style-type: none;
      margin-left: 0;
      padding-bottom: $content-padding;
      margin-bottom: $content-margin;
      border-bottom: 1px solid $base-border-color;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  // General Nav
  .nav {
    li {
      margin-bottom: $content-margin;
    }

    .nav-header {
      margin: $content-margin 0;
      padding: ($content-padding / 2) $content-padding;
      font-size: $core-font-size - 0.3;
      font-weight: $font-weight-regular;
      border-radius: $core-border-radius;
      color: $base-text-color;
      background: darken($base-background, 12%);
    }

    .nav-child {
      margin-top: $content-margin;
    }
  }

  // Categories Module
  .categories-module {
    h4 {
      display: inline-block;
      font-size: $core-font-size;
      margin: 0;
    }
  }

  // Breadcrumbs

  .breadcrumb {
    font-family: get-font-family($font-family-default);
    color: $base-background;
    background: transparent;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    margin: 0;
    padding: 8px 0;

    > .active {
      color: $base-background;
      span {
        &.divider {
          position: relative;
          vertical-align: top;
          width: 21px;
          height: 21px;
          line-height: 1.5;
          margin-top: 4px;
          &:before {
            text-align: center;
            font-family: FontAwesome;
            content: "\f041";
            position: absolute;
            vertical-align: middle;
          }
        }
      }
    }

    > li > .divider {
      color: $base-background;
    }

    li:not(:first-child) span {
      &.divider {
        &:after {
          font-family: FontAwesome;
          content: "\f101";
          margin: 0 10px;
        }
      }
    }

    li {
      text-shadow: none;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      &:hover {
        color: $base-background;
      }
    }

    span {
      display: inline-block;

      img {
        display: none;
      }
    }
  }

  // Login Form
  #login-form {
    .control-group {
      margin-bottom: 10px;

      .input-prepend {
        .add-on {
          color: $white;
          background: none;
          padding: 5px;

          & [class^="icon-"], & [class*=" icon-"] {
            width: auto;
            background: $accent-color-1;
            padding: 0.45rem 1rem;
            border-radius: 3px;
          }
        }

        input {
          border-left: none;

          &:hover {
            border-color: $base-border-color;
          }

          &:focus {
            box-shadow: none;
            border-color: $base-border-color;
          }
        }
      }
    }
  }

  // Search
  .search {
    #mod-search-searchword {
      border-radius: $core-border-radius;
    }
  }

  //categories

  .categories-module {
    border: none;

    li {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0;

      h3, h4, h5, h6 {
        display: inline;
      }

      &:before {
        content: "\f138";
        font-family: FontAwesome;
        margin-right: 10px;
        display: inline;
      }
    }

  }

  // Smart Search
  #mod-finder-searchform {
    input[type="text"] {
      border-radius: $core-border-radius;
    }
  }
}

#g-offcanvas .moduletable {
  .nav, .nav.menu {
    padding: 0;
    width: 100%;
    border: 0;

    li {
      background: $offcanvas-background;
      border: 0;
      padding: 0;
      margin: 0;
      color: $offcanvas-text-color;
      float: none;

      a {
        line-height: inherit;
        padding: $content-padding;
        margin: 0;
      }

      &.active {
        background: darken($accent-color-1, 8%);

        a {
          background-color: inherit;
          color: inherit;
        }
      }

      &:hover {
        background: darken($accent-color-1, 5%);
      }
    }

    .nav-header {
      margin: $content-margin 0;
      padding: ($content-padding / 2) $content-padding;
      font-size: $core-font-size - 0.3;
      font-weight: $font-weight-regular;
      border-radius: $core-border-radius;
      color: $base-text-color;
      background: darken($base-background, 12%);
    }

    .nav-child {
      margin-top: $content-margin;
    }
  }
}

#oc-form textarea {
  min-height: 6em;
}
